@model LibraryWebApplication1.Team

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви точно хочете видалити команду?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TCityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TCityNavigation.CiName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TStadiumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TStadiumNavigation.StName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Команди</a>
    </form>
</div>
