@model IEnumerable<LibraryWebApplication1.City>

@{
    ViewData["Title"] = "Міста";
}

<h1>@ViewBag.CountryName </h1>

<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiCountryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CountryName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiCountryNavigation.CoPopulation)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CountryPopulation
        </dd>
    </dl>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiPopulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiCountryNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a style="color:brown" asp-action="Details" asp-route-id="@item.CiId">@Html.DisplayFor(modelItem => item.CiName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiPopulation)
            </td>
            <td>
                <a style="color:blueviolet" asp-action="DetailsCo" asp-route-id="@item.CiCountryNavigation.CoId">@Html.DisplayFor(modelItem => item.CiCountryNavigation.CoName)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CiId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.CiId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.CiId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="IndexCo">Країни</a>
