@model IEnumerable<LibraryWebApplication1.City>

@{
    ViewData["Title"] = "Міста";
}

<h1>Міста</h1>

<p>
    <a asp-action="Create">Додати місто</a>
</p>

<div>
    <h3>Оберіть exel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Countries", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>

<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="ExportCo"> Завантажити </a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiPopulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiCountryNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CiName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiPopulation)
            </td>
            <td>
                <a style="color:blueviolet" asp-action="DetailsCo" asp-route-id="@item.CiCountryNavigation.CoId">@Html.DisplayFor(modelItem => item.CiCountryNavigation.CoName)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CiId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.CiId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.CiId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
