@model LibraryWebApplication1.Game

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви точно хочете видалити матч?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GAttendance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GAttendance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GStadiumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GStadiumNavigation.StName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GTeamANavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GTeamANavigation.TName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GTeamHNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GTeamHNavigation.TName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Матчі</a>
    </form>
</div>
