@model LibraryWebApplication1.Stadium

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви точно хочете видалити стадіон?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StCityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StCityNavigation.CiName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Стадіони</a>
    </form>
</div>
